<div id="<%= dom_id ventum %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Fecha:</strong>
    <%= ventum.fecha %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total:</strong>
    <%= ventum.total %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Empleado:</strong>
    <%= ventum.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dni comprador:</strong>
    <%= ventum.dni_comprador %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nya comprador:</strong>
    <%= ventum.NyA_comprador %>
  </div>
</div>
