<div id="<%= dom_id detalle_ventum %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Venta:</strong>
    <%= detalle_ventum.venta_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Producto:</strong>
    <%= detalle_ventum.producto_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cantidad:</strong>
    <%= detalle_ventum.cantidad %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Precio unitario:</strong>
    <%= detalle_ventum.precio_unitario %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Subtotal:</strong>
    <%= detalle_ventum.subtotal %>
  </div>
</div>
